<div class="container">
  <div class="row">
    <div class="mx-auto">
      <% if @book.errors.any? %>
        <%= @book.errors.count %>error
          </ul>
            <% @book.errors.full_messages.each do |message| %>
              <li>
                <%= message %>
              </li>
            <% end %>
          </ul>
      <% end %>
      <h1>Editing Book</h1>
      <div>
        <%= form_with model: @book do |f| %>
          <div class="form-group">
            <p>Title</p>
            <%= f.text_field :title, class:"form-control" %>
            <p>Opinion</p>
            <%= f.text_area :body, class:"form-control" %>
            <%= f.submit "Update Book", class:"btn btn-bolck btn-success" %>
          </div>
        <% end %>
      </div>
      <%= link_to "Show", book_path(@book.id) %>
      |
      <%= link_to "Back", books_path %>
    </div>
  </div>
</div>


