<% if @book.errors.any? %>">
  <%= @book.errors.count %>error
    </ul>
      <% @book.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
<% end %>
<h1>Books#index</h1>
<h1>User info</h1>
<%= image_tag current_user.get_profile_image(100, 100) %>
<p>name<%= current_user.name %></p>
<p>introduction <%= current_user.introduction %></p>
<%= link_to "edit", edit_user_path(current_user.id) %>

<h2>New book</h2>
<%= form_with model: @book do |f| %>
  <p>title</p>
  <%= f.text_field :title %>
  <p>body</p>
  <%= f.text_area :body %>
  <%= f.submit "投稿" %>
<% end %>


<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>opinion</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td>
        <%= book.title %>
      </td>
      <td>
        <%= book.body %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>